.h1, h1 {
    font-size: 3.8146972656rem;
  }
  
  .h2, h2 {
    font-size: 3.0517578125rem;
  }
  
  .h3, h3 {
    font-size: 2.44140625rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  
  .h4, h4 {
    font-size: 1.953125rem;
  }
  
  .h5, h5 {
    font-size: 1.5625rem;
  }
  
  .h6, h6 {
    font-size: 1.25rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: mafrense;
    color: $color-heading;
  }
  
  .lead {
    font-size: 1.3rem;
    line-height: 1.5em;
  }